html body {
    margin: 0;
    padding: 0;
    background: black;
}
.text {
    position: absolute;
    margin: 20px;
    color: #fff;
    font-size: 16px;
    align-items: center;
    top: 10vf;
#C1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url('img/background.png');
}
