html body {
    margin: 0;
    padding: 0;
    background: black;
}
html body div {
    color: #fff;
    align-items: center;
    position: relative;
    top: 5vh;
    font-size: 16px;
#C1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url('img/background.png');
}
